@import "../../asset/common.scss";

.ant-select {
	min-width: 140px !important;

	.ant-select-arrow {
		position: absolute;

		&:after {
			content: "";
			position: relative;
			top: 0;
			right: 24px;
			height: 30px;
			width: 1px;
			background-color: $MISCHKA;
		}
	}
}